.vscode/
.cph/

A_Diagonals.cpp
A_Dora_s_Set.cpp
A_Make_All_Equal.cpp
A_Split_the_Multiset.cpp
A_Turtle_and_Good_Strings.cpp
B_Generate_Permutation.cpp
B_Index_and_Maximum_Value.cpp
B_Make_Majority.cpp
B_Turtle_and_Piggy_Are_Playing_a_Game_2.cpp
C_Assembly_via_Minimums.cpp
C_Guess_The_Tree.cpp
C_Left_and_Right_Houses.cpp
C_Light_Switches.cpp
C_Turtle_and_Good_Pairs.cpp
